# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will
# be requested for review when someone opens a pull request.
* @creativecommons/technology
* @creativecommons/ct-legal-database-core-committers
* @creativecommons/ct-legal-database-maintainers
