# macOS general
# https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
.DS_Store
.AppleDouble
.LSOverride

*.swp
*~
.\#*
.env
.idea/
.jekyll-metadata
.sass-cache
__pycache__/
_site
node_modules/
staticfiles/
tmp/
venv/
docker-compose.override.yml
