# macOS general
# https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
.DS_Store
.AppleDouble
.LSOverride

*.swp
*~
.\#*
.env
.idea/
.jekyll-metadata
.sass-cache
__pycache__/
_site
node_modules/
staticfiles/
tmp/
venv/
docker-compose.override.yml

# Visual Studio Code (VS Code)
# https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix
