[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
factory-boy = "*"
flake8 = "*"
isort = "*"

[packages]
Django = ">=3.2.16,<3.3"
django-countries = "*"
django-heroku = "*"
django-libsass = "*"
django-markdownx = "*"
django-ordered-model = "*"
django-taggit = "*"
django-widget-tweaks = "*"
django_compressor = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"

[requires]
# https://devcenter.heroku.com/articles/getting-started-with-python
# Match version to Heroku app
# Keep in sync with .github/workflows/main.yml and Dockerfile
python_version = "3.10"
