[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
flake8 = "*"
factory-boy = "*"
isort = "*"

[packages]
django = "~=3.2"
django_compressor = "*"
django-countries = "*"
django-heroku = "*"
django-libsass = "*"
django-markdownx = "*"
django-widget-tweaks = "*"
gunicorn = "*"
psycopg2 = "*"
django-ordered-model = "*"
django-taggit = "*"
whitenoise = "*"

[requires]
python_version = "3.9"
