[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
factory-boy = "*"
flake8 = "*"
isort = "*"

[packages]
Django = ">=3.2.23,<3.3"
certifi = ">=2023.7.22"  # Ensure dependency is secure
django-countries = "*"
django-heroku = "*"
django-libsass = "*"
django-markdownx = "*"
django-ordered-model = "*"
django-taggit = "4.0.0"  # https://github.com/jazzband/django-taggit/issues/875
django-widget-tweaks = "*"
django_compressor = "*"
gunicorn = "*"
psycopg2 = "*"
urllib3 = ">=2.0.7"  # Ensure dependency is secure
whitenoise = "*"

[requires]
# https://devcenter.heroku.com/articles/getting-started-with-python
# Match version to Heroku app
# Keep in sync with .github/workflows/main.yml and Dockerfile
python_version = "3.10"
