<div id="world-map-wrapper">
  <div id="world-map"></div>
</div>
<br />
<p>Select a country on the map above, or:
  <select class="country-select"
          onchange="if (this.value) window.location.href=this.value">
    <option value="" selected="true">pick a country</option>
    {% for country in site.data.countries %}
    <option value="{{country.country | sanitize_filename | prepend: "/country/" | relative_url}}">{{country.country}}</option>
    {% endfor %}
  </select>
</p>

<script>
  var totCountries = {
  {% for country in site.data.countries %}
    '{{country.code}}': '{{country.country | sanitize_filename | prepend: "/country/" | relative_url}}',
  {% endfor %}
  };

  var totDataAvailable = {
  {% for country in site.data.countries %}
    '{{country.code}}': 1,
  {% endfor %}
  };

  var totHandleRegionClick = function(event, country) {
    if (totDataAvailable[country]) {
      var win = window.open(totCountries[country], '_blank');
      win.focus();
    }
  };

  $(function(){
    $('#world-map').vectorMap({
      map: 'world_mill',
      series: {
        regions: [{
          values: totDataAvailable,
          scale: ['#C8EEFF', '#0071A4']
        }]
      },
      onRegionClick: totHandleRegionClick
    });
  });
</script>
