---
layout: default
exclude: true
---
<h1>{{page.country}}</h1>

<p>{{page.notes}}</p>

<h2>Cases</h2>
<table>
  <thead>
    <th>Case Name</th>
    <th>Case Number</th>
  </thead>
  <tbody>
    {% for case in site.data.cases %}
    {% if case.Jurisdiction == page.country %}
      <tr><td><a href="{{page.title | sanitize_filename | prepend: '/country/' | relative_url}}/case/{{case['Case Name'] | sanitize_filename}}">{{case['Case Name']}}</a></td>
          <td>{{case['Case #']}}</td></tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<h2>Scholarship</h2>
<table>
  <thead>
    <th>Title</th>
  </thead>
  <tbody>
    {% for scholarship in site.data.scholarship %}
      {% if scholarship['Country'] == page.country %}
        <tr><td><a href="{{page.title | sanitize_filename | prepend: "/country/" | relative_url}}/scholarship/{{ scholarship['Title'] | sanitize_filename }}">{{scholarship['Title']}}</a></td></tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<h2>Contribute a New Entry</h2>
<p>If you know of an entry we should add to this page, you can select one of the links here to go to the form for doing so:</p>
<ul>
  <li><a href="https://docs.google.com/forms/d/e/XXXXXXXX/viewform?usp=pp_url&entry.673077429={{page.country | url_encode}}">Add new case</a></li>
  <li><a href="https://docs.google.com/forms/d/e/XXXXXXXX/viewform?usp=pp_url&entry.673077429={{page.country | url_encode}}">Add new scholarship</a></li>
</ul>
