---
layout: default
exclude: true
---

<h1>{{page.title}}</h1>

<h2>Country</h2>
<p><a href="{{ page.country | sanitize_filename | prepend: '/country/' | relative_url }}">{{page.country}}</a></p>

<h2>Number</h2>
<p>{{page.number}}</p>

<h2>Effective Date</h2>
<p>{{page.date}}</p>

<h2>Link</h2>
<p><a href="{{page.link}}">{{page.link}}</a></p>

{% if page.link_english %}
<h2>Link (in English)</h2>
<p><a href="{{page.link_english}}">{{page.link_english}}</a></p>
{% endif %}

<h2>Summary</h2>
<p>{{page.summary}}</p>

{% if page.contributor %}
<h2>Contributed By</h2>
<p>{{page.contributor}}</p>
{% endif %}
