---
layout: default
exclude: true
---

<h1>{{page['Title']}}</h1>

<h2>Country</h2>
<p><a href="{{ page['Country'] | sanitize_filename | prepend: '/country/' | relative_url }}">{{page['Country']}}</a></p>

<h2>Author</h2>
<p>{{page['Author (s)']}}</p>

{% if page['Journal or Publisher'] %}
<h2>Journal or Publisher</h2>
<p>{{page['Journal or Publisher']}}</p>
{% endif %}

{% if page['License on the Article'] %}
<h2>License on Article</h2>
<p>{{page['License on the Article']}}</p>
{% endif %}

<h2>Link</h2>
<p><a href="{{page['Link'] | strip}}">{{page['Link'] | strip}}</a></p>

{% if page['License/Elements that is discussing '] %}
<h2>License/Elements Discussed</h2>
<p>{{page['License/Elements that is discussing ']}}</p>
{% endif %}

<h2>Abstract</h2>
<p>{{page["Abstract as provided host website"]}}</p>

{% if page['Categorie/Key Words'] %}
<h2>Categories/Keywords</h2>
{{page['Categorie/Key Words']}}
{% endif %}

{% if page.contributor %}
<h2>Contributed By</h2>
<p>{{page.contributor}}</p>
{% endif %}
