$color-tomato: rgb(237, 89, 47);
$color-forest-green:rgb(34,139,34);
$color-dark-slate-blue: rgb(60, 92, 153);
$color-dark-slate-gray: rgb(51, 51, 51);
$color-gray: rgb(176, 176, 176);
$color-light-gray: rgb(216, 216, 216);
$color-lighter-gray: rgb(245, 245, 245);

$hero-body-padding: 3rem 1.5rem !default;

body {
    color: $color-dark-slate-gray;
}

.breadcrumb {
  a, a:hover {
    color: $color-dark-slate-blue;
  }
}

.button {
  &-case{
    background-color: $color-tomato;
    border-color: $color-tomato;
    color: white;
    &:hover {
      background-color: $color-tomato;
      border-color: $color-tomato;
    }
  }
  &-scholarship {
    background-color: $color-forest-green;
    border-color: $color-forest-green;
    color: white;
    &:hover {
      background-color: $color-forest-green;
      border-color: $color-forest-green;
    }
  }
  &.is-delete {
    color: $color-tomato;
    width: 100%;
    height: 60%;
    margin-top: 1.5rem;
    padding: 0;

    .icon {
      padding: .35rem 0;
    }
  }
}

@media (max-width: 768px) {
  .button.is-delete {
    margin-top: 0;
  }
}

.button.tag {
  &.case {
    &.outline {
      border-color: $color-tomato;
    }
    &:hover, &.selected {
      background-color: $color-tomato;
      border-color: $color-tomato;
      color: white;
    }
  }
  &.scholarship {
    &.outline {
      border-color: $color-forest-green;
    }
    &:hover, &.selected {
      background-color: $color-forest-green;
      border-color: $color-forest-green;
      color: white;
    }
    &-clear {
      border-color: $color-forest-green;
    }
  }
}

.card.entry-post.link a .card-content.has-bottom-link {
  padding: 0 0 3rem 0;
}

.contribute {
  float: right;
  max-width: 380px;
}

.control.has-icons-left .icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  color: $color-light-gray;
}

.errorlist {
  color: $color-tomato;
  font-size: 0.9rem;
}

.faq {
  &__content {
    border-bottom: 2px solid $color-light-gray;
    margin-bottom: 1.5rem;
    padding-bottom: 0.75rem;
  }

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &::after {
      font-family: "Vocabulary Icons";
      font-size: 1.5rem;
      content: '\e906'; // angle-down icon
      color: $color-dark-slate-gray;
      margin: 0 1rem;
    }
  }

  &__head.expanded {
    &::after {
      content: '\e904'; // angle-up icon
    }
  }

  &__body {
    padding-right: 1.5rem;
    ul {
      list-style-type: disc;
      list-style-position: inside;
      margin-left: 15px;
    }
  }

  &__section {
    position: relative;

    &::before {
      color: $color-lighter-gray;
      content: "\ea0c";  // question-circle icon
      font-family: "Vocabulary Icons";
      position: absolute;
      bottom: -1.5rem;
      right: 3rem;
      font-size: 7rem;
      z-index: -1;
    }
  }
}

.form {
  max-width: 768px;
}

.hero {
  background-color: $color-lighter-gray;

  &.case {
    box-shadow: inset 0px 6px 0px $color-tomato;
  }

  &.scholarship {
    box-shadow: inset 0px 6px 0px $color-forest-green;
  }

  .hero-title-big {
    font-size: 10rem;
  }

  .hero-body {
    padding: $hero-body-padding;
  }

  .hero-p {
    max-width: 800px;
  }
}

.input.search {
  max-width: 450px;
}

.links-list {
  list-style-type: circle;
  overflow-wrap: break-word;
  a {
    color: $color-dark-slate-blue;
  }
}

.required {
  color: darkred;
  font-weight: bold;
}

.search-input {
  width: 100%;
}

.tags-filter {
  color: $color-dark-slate-blue;
  cursor: pointer;
  user-select: none;
}
