$color-tomato: rgb(237, 89, 47);
$color-dark-turquoise: rgb(5, 181, 218);
$color-dark-slate-blue: rgb(60, 92, 153);
$color-dark-slate-gray: rgb(51, 51, 51);
$color-gray: rgb(176, 176, 176);
$color-light-gray: rgb(216, 216, 216);
$color-lighter-gray: rgb(245, 245, 245);

body {
    color: $color-dark-slate-gray;
}

.breadcrumb {
  a, a:hover {
    color: $color-dark-slate-blue;
  }
}

.button {
  &-case{
    background-color: $color-tomato;
    border-color: $color-tomato;
    color: white;
    &:hover {
      background-color: $color-tomato;
      border-color: $color-tomato;
    }
  }
  &-scholarship {
    background-color: $color-dark-turquoise;
    border-color: $color-dark-turquoise;
    color: white;
    &:hover {
      background-color: $color-dark-turquoise;
      border-color: $color-dark-turquoise;
    }
  }
}

.button.tag {
  &.case {
    &.outline {
      border-color: $color-tomato;
    }
    &:hover, &.selected {
      background-color: $color-tomato;
      border-color: $color-tomato;
      color: white;
    }
  }
  &.scholarship {
    &.outline {
      border-color: $color-dark-turquoise;
    }
    &:hover, &.selected {
      background-color: $color-dark-turquoise;
      border-color: $color-dark-turquoise;
      color: white;
    }
    &-clear {
      border-color: $color-dark-turquoise;
    }
  }
}

.card.entry-post.link a .card-content.has-bottom-link {
  padding: 0 0 3rem 0;
}

.contribute {
  float: right;
  max-width: 380px;
}

.control.has-icons-left .icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  color: $color-light-gray;
}

.faq {
  &__content {
    border-bottom: 2px solid $color-light-gray;
    margin-bottom: 1.5rem;
    padding-bottom: 0.75rem;
  }

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &::after {
      font-family: "Vocabulary Icons";
      font-size: 1.5rem;
      content: '\e906'; // angle-down icon
      color: $color-dark-slate-gray;
      margin: 0 1rem;
    }
  }

  &__head.expanded {
    &::after {
      content: '\e904'; // angle-up icon
    }
  }

  &__body {
    padding-right: 1.5rem;
  }

  &__section {
    position: relative;

    &::before {
      color: $color-lighter-gray;
      content: "\ea0c";  // question-circle icon
      font-family: "Vocabulary Icons";
      position: absolute;
      bottom: -1.5rem;
      right: 3rem;
      font-size: 7rem;
      z-index: -1;
    }
  }
}

.hero {
  background-color: $color-lighter-gray;

  &.case {
    box-shadow: inset 0px 6px 0px $color-tomato;
  }

  &.scholarship {
    box-shadow: inset 0px 6px 0px $color-dark-turquoise;
  }

  p {
    max-width: 708px;
  }
}

.input.search {
  max-width: 450px;
}

.links-list {
  list-style-type: circle;
  overflow-wrap: break-word;
  a {
    color: $color-dark-slate-blue;
  }
}

.tags-filter {
  color: $color-dark-slate-blue;
  cursor: pointer;
  user-select: none;
}
