{% load compress %}
{% load i18n static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta name="author" content="Creative Commons"/>
    <meta name="description" content="{% trans 'This database contains case law and legal scholarship about CC licenses and the issues that relate to their enforceability and interpretation.' %}"/>
    <!-- TODO: Decide whether the keywords in the meta tag need to be translated -->
    <meta name="keywords" content="Creative Commons, legal database, case law, CC licenses, legal scholarship, enforceability, legal tools, open access, intellectual property"/>
    <title>{% trans "CC Legal Database" %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'webpack_files/css/index.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'vocabulary/css/vocabulary.css' %}" type="text/css" media="all">
    <meta property="og:url" content="https://legaldb.creativecommons.org/" />
    <meta property="og:title" content="Creative Commons Legal Database" />
    <meta property="og:type" content="website">
    <meta property="og:description" content="Explore the Creative Commons Legal Database, a comprehensive resource on legal cases and disputes related to Creative Commons tools and licenses. This database includes case law and legal scholarship that relates to Creative Commons legal tools." />
    <meta property="og:image" content="{% static 'cc_legal_db.png' %}" />
    <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />
  </head>
  <body>
    <a class="skip-to-content" href="#main-content-marker">Skip to content</a>
    {% include 'legal_db/partials/_header.html' %}
    {% block body_content %}
      {% if msg %}<p><strong>{{ msg }}</strong></p>{% endif %}
    {% endblock %}
    {% include 'legal_db/partials/_footer.html' %}

    <script>
      // This script load Vocabulary's assets
      const getFullyQualifiedUrl = (path, version) => {
        let baseUrl = "https://unpkg.com/@creativecommons/vocabulary"
        if (version) { baseUrl = `${baseUrl}@${version}` }
        return `${baseUrl}/${path}`
      }

      const patchAssetIntoDom = (asset, version=null) => {
        const ajax = new XMLHttpRequest();
        ajax.open("GET", getFullyQualifiedUrl(asset, version), true);
        ajax.onload = () => {
        var div = document.createElement("div");
          // Render SVG in the page
          div.innerHTML = ajax.responseText;
          div.style.display = 'none';
          document.body.insertBefore(div, document.body.childNodes[0]);
        }

        ajax.send();
      }
      patchAssetIntoDom('assets/logos/cc/logomark.svg');

      // Allow toggle dropdown of the navbar burger menu
      const burgerMenu = document.getElementsByClassName('navbar-burger')[0];
      burgerMenu.addEventListener('click', () => {
          const menu = document.getElementsByClassName('navbar-menu')[0];
          menu.classList.toggle('is-active');
          burgerMenu.classList.toggle('is-active');
          burgerMenu.setAttribute('aria-expanded', burgerMenu.classList.contains('is-active'));
      })
    </script>
    {% block js_content %}{% endblock %}
    <script src="{% static 'vocabulary/js/vocabulary.js' %}"></script>
  </body>
</html>
