{% extends 'legal_db/base.html' %}

{% block body_content %}
<div class="hero padding-horizontal-xxl padding-vertical-large">
  {% include "legal_db/partials/_breadcrumb.html" %}
  <h2>Frequently Asked Questions</h2>
</div>
<div class="margin-horizontal-xxl margin-vertical-larger">
  <div class="columns">
    <section class="column is-9">
    <div class="control has-icons-left">
      <label for="search" class="is-sr-only">Search: </label>
      <input class="input search" type="text" placeholder="Search for..." />
      <span class="icon is-left"><i class="icon search"></i></span>
    </div>
      <div class="padding-right-normal padding-top-big">
        {% for faq in faqs %}
        <article class="faq__content">
          <div id="faq-head-{{ forloop.counter }}" class="faq__head" aria-expanded="false">
            <h5 class="faq__title">{{ faq.question }}</h5>
          </div>
          <p id="faq-body-{{ forloop.counter }}" class="faq__body is-hidden" aria-hidden="false">{{ faq.answer }}</p>
        </article>
        {% endfor %}
      </div>
    </section>
    <aside class="column is-3">
      <h4>Still have questions?</h4>
      <b><a href="mailto:legal@creativecommons.org" class="has-text-dark-slate-blue">Contact us</a></b>
    </aside>
  </div>
</div>
{% endblock %}

{% block js_content %}
<script>
  const faqHeads = document.querySelectorAll('.faq__head');
  faqHeads.forEach(accordion => {
    const number = accordion.getAttribute('id').split('-').pop();
    const associatedSection = document.getElementById(`faq-body-${number}`);

    accordion.addEventListener('click', () => {
      accordion.classList.toggle('expanded');
      associatedSection.classList.toggle('is-hidden');
      if (accordion.classList.contains('expanded')) {
        accordion.setAttribute('aria-expanded', true);
        associatedSection.setAttribute('aria-hidden', false);
      } else {
        accordion.setAttribute('aria-expanded', false);
        associatedSection.setAttribute('aria-hidden', true);
      }
    });
  });

</script>
{% endblock %}
