{% extends 'legal_db/base.html' %}
{% load i18n markdown_extras %}

{% block body_content %}
<div class="hero faq">
  <div class="container">
    {% include "legal_db/partials/_breadcrumb.html" %}
    <h1 class="hero-title title is-2">{% trans "Frequently Asked Questions" %}</h1>
  </div>
</div>
<section class="faqs">
  <div class="container">
    <div class="columns">
      <div class="column is-9">
        <div class="control has-icons-left">
          <label for="search" class="is-sr-only">{% trans "Search:" %}</label>
          <input id="search" class="input column is-8 margin-bottom-big" type="text" onkeyup="search()" placeholder="{% trans 'Search for...' %}" />
          <span class="icon is-left"><i class="icon search"></i></span>
        </div>
        <div>
          {% for faq in faqs %}
          <article class="faq__content">
            <div id="faq-head-{{ forloop.counter }}" class="faq__head" aria-expanded="false">
              <h5 class="faq__title">{{ faq.question }}</h5>
            </div>
            <div id="faq-body-{{ forloop.counter }}" class="faq__body is-hidden" aria-hidden="false">
              {{ faq.answer | markdown | safe }}
            </div>
          </article>
          {% endfor %}
        </div>
      </div>
      <aside class="column is-3">
        <h4>{% trans "Still have questions?" %}</h4>
        <b><a href="mailto:legal@creativecommons.org" class="has-text-dark-slate-blue">{% trans "Contact us" %}</a></b>
      </aside>
    </div>
  </div>
</section>
{% endblock %}

{% block js_content %}
<script>
  const faqHeads = document.querySelectorAll('.faq__head');
  faqHeads.forEach(accordion => {
    const number = accordion.getAttribute('id').split('-').pop();
    const associatedSection = document.getElementById(`faq-body-${number}`);

    accordion.addEventListener('click', () => {
      accordion.classList.toggle('expanded');
      associatedSection.classList.toggle('is-hidden');
      if (accordion.classList.contains('expanded')) {
        accordion.setAttribute('aria-expanded', true);
        associatedSection.setAttribute('aria-hidden', false);
      } else {
        accordion.setAttribute('aria-expanded', false);
        associatedSection.setAttribute('aria-hidden', true);
      }
    });
  });

  const searchInput = document.getElementById("search");

  searchInput.addEventListener("keydown", (e) => {
    if (e.key == "Escape") {
      searchInput.value = "";
    }
  });

  const search = () => {
    const terms = searchInput.value.toLowerCase();
    const faqContent = document.getElementsByClassName("faq__content");

    for (let i = 0; i < faqContent.length; i++) {
      const textValue = faqContent[i].textContent.toLowerCase();
      if (textValue.includes(terms)) {
        faqContent[i].style.display = "";
      } else {
        faqContent[i].style.display = "none";
      }
    }
  };
</script>
{% endblock %}
