{% extends 'legal_db/base.html' %}

{% block body_content %}
  <div class="hero padding-horizontal-xxl padding-vertical-large">
    <h1>Creative Commons Legal Database</h1>
    <p class="padding-vertical-small body-big">This database comprises case law and legal scholarship to help you learn more about legal issues surrounding Creative Commons licenses and legal tools. These resources aim to help you clearly understand the enforceability and precedents set by courts around the world concerning Creative Commons licenses.</p>
  </div>
{% endblock %}
