{% extends 'legal_db/base.html' %}

{% block body_content %}
  <div class="hero padding-horizontal-xxl padding-vertical-large">
    <h1>Creative Commons Legal Database</h1>
    <p class="padding-vertical-small body-big">This database includes <strong class="has-text-dark-slate-blue">case law</strong> and <strong class="has-text-dark-slate-blue">legal scholarship</strong> that relates to Creative Commons legal tools.</p>
    <p>Please note that the database is not comprehensive, and CC does not necessarily endorse the views of the courts or scholars whose decisions and writings are referenced. The content provided is purely informational, designed for those seeking to better understand the legal ecosystem in which the CC legal tools operate.</p>
  </div>
{% endblock %}
