{% load i18n static %}

<header class="container">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="has-text-black" href="{% url 'home' %}">
        <img src="{% static 'logo.svg' %}" alt="CC legal database logo">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{% url 'case_index' %}">{% trans "Cases" %}</a>
        <a class="navbar-item" href="{% url 'scholarship_index' %}">{% trans "Scholarship" %}</a>
        <a class="navbar-item" href="{% url 'faq' %}">{% trans "FAQ" %}</a>

        <!-- Language Dropdown -->
        <div class="navbar-item">
          <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <div class="select">
              <select name="language" onchange="this.form.submit()" aria-label="{% trans 'Select language' %}">
                <option disabled>{% trans 'Languages available' %}</option>
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as languages %}
                {% for lang_code, lang_name in languages %}
                  <option value="{{ lang_code }}"
                          {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                    {{ lang_name }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <input type="hidden" name="next" value="{{ request.path }}">
          </form>
        </div>
      </div>
    </div>
  </nav>
</header>
