<header>
      <nav class="navbar ">
        <div class="navbar-brand">
          <a href="/" class="has-text-black">
            <svg
              class="logo"
              xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 269 40">
              <use href="#legaldatabase"></use>
            </svg>
          </a>
          <a role="button" class="navbar-burger is-active" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu is-active">
          <div class="navbar-end">
            <a class="navbar-item">Cases</a>
            <a class="navbar-item">Scholarships</a>
            <a class="navbar-item">FAQ</a>
          </div>
        </div>
      </nav>
    </header>
