<section class="columns is-vcentered margin-vertical-big">
  <div class="column">
    <div class="control has-icons-left">
      <label for="search" class="is-sr-only">Search: </label>
      <input id="search" type="text" class="input" placeholder="Search for..."/>
      <span class="icon is-left"><i class="icon search"></i></span>
    </div>
  </div>
  <div class="column">
    <strong id="tags-filter" class="tags-filter margin-left-normal">
      <span id="tags-hide">Hide topic filters <i class="icon chevron-up"></i></span>
      <span id="tags-show" class="is-hidden">Show topic filters <i class="icon chevron-down"></i></span>
    </strong>
  </div>
</section>
