{% extends 'legal_db/base.html' %}

{% block body_content %}
  <div class="padding-horizontal-xxl padding-vertical-large" style="background-color: #E5E5E5; box-shadow: inset 0px 6px 0px #ED592F;">
    {% include "legal_db/partials/_breadcrumb.html" %}
    <h2 class="b-header">{{ case.name }}</h2>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <aside class="padding-horizontal-big padding-vertical-xl">
          <div class="margin-bottom-bigger">
            <h4 class="b-header">Country</h4>
            <p>{{ case.country }}</p>
          </div>

          <div class="margin-bottom-bigger">
            <h4 class="b-header">Court(s)</h4>
            <p>{{ case.courts }}</p>
          </div>

          <div class="margin-bottom-bigger">
            <h4 class="b-header">Year of resolution</h4>
            <p>{{ case.year }}</p>
          </div>

          <div class="margin-bottom-bigger">
            <h4 class="b-header">Relevant materials</h4>
            <ul style="list-style-type: circle;">
            {% for link in case.links %}
              <li class="margin-vertical-small">
                <b>{{ link.label }}</b>: <a href="{{ link.url }}" class="has-text-dark-slate-blue">{{ link.title }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>

        </aside>
      </div>
      <div class="column is-two-thirds">
        <article class="padding-horizontal-big padding-vertical-xl">
          <h3 class="b-header">Background information</h3>
          <p>{{ case.background }}</p>
          <br/>
          <h3 class="b-header">Case summary</h3>
          <p>{{ case.summary }}</p>
          <hr/>
          {% for tag in case.tags %}
            <a href="#" class="button tag margin-horizontal-small">{{ tag }}</a>
          {% endfor %}
        </article>
      </div>
    </div>
  </div>
{% endblock %}
