{% extends 'legal_db/base.html' %}

{% block body_content %}
<section class="hero case padding-horizontal-xxl padding-vertical-large">
  {% include "legal_db/partials/_breadcrumb.html" %}
  <h2>Cases</h2>
  <div class="contribute">
    <article class="card entry-post link no-border">
      <a href="#" class="has-background-tomato">
        <span class="card-content has-bottom-link">
          <h2 class="card-title">Contribute</h2>
          <span class="content">Do you want to submit a legal dispute to the database?</span>
          <strong class="link-arrow">Submit a case <i class="icon chevron-right"></i></strong>
        </span>
      </a>
    </article>
  </div>
  <p class="padding-vertical-small body-big">Here you will find information on litigation that involves or directly affects Creative Commons legal tools. Click on the link to each case name for more details on the dispute.</p>
</section>

<div class="padding-horizontal-xxl padding-vertical-normal">

  <section class="columns is-desktop is-vcentered margin-vertical-big padding-left-normal">
    <input class="input column is-8" type="text" placeholder="Search for..."/>
    <div class="column">
      <strong class="tags-filter margin-left-normal margin-right-smaller">
        Hide topic filters
      </strong>
      <i class="icon chevron-up has-text-dark-slate-blue"></i>
    </div>
  </section>

  <section id="tags">
  {% for tag in tags %}
    <button class="button tag case margin-right-small">{{ tag }}</button>
  {% endfor %}
    <button class="button tag tag-selected case">illustration</button>
  </section>

  <section class="margin-vertical-big table-container">
    <table class="table is-bordered is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Country</th>
          <th>Case name</th>
          <th>License</th>
          <th>Year of resolution</th>
        </tr>
      </thead>
      <tbody>
      {% for case in cases %}
        <tr>
          <td>{{ case.country }}</td>
          <td><a href="{% url 'case_detail' %}" class="has-text-dark-slate-blue">{{ case.name }}</a> </td>
          <td>{{ case.license }}</td>
          <td class="number-cell">{{ case.year }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
